<footer>
    <div class="footer-links">
        <a href="https://github.com/ayeshanweerasuriya" target="_blank">GitHub</a>
        <a href="www.linkedin.com/in/ayeshan-weerasuriya" target="_blank">LinkedIn</a>
    </div>
    Copyright &copy; Ayeshan Weerasuriya 2024
</footer>