<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs')%>

    <body>
        <%- include('./partials/nav.ejs')%>

            <div class="about-content">
                <h2 class="about-title">About This Site</h2>
                <hr>
                <p>Welcome to my blog! This blog site is a personal project crafted to enhance my skills in web development,
                    particularly using Express and Node.js. Through this platform, I've explored the creation of various routes
                    and delved into the implementation of non-relational databases using MongoDB. </p>
                <h4>Thank you for visiting.</h4>
            </div>
    </body>

    <%- include('./partials/footer.ejs')%>

</html>