@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* nav styles */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.nav-title a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  margin-right: 20px;
}

li:last-child {
  margin-right: 0;
}

li a {
  text-decoration: none;
  color: white;
}

@media (max-width: 768px) {
  nav {
      flex-direction: column;
      align-items: flex-start;
  }
  .nav-title {
      margin-bottom: 10px;
  }
  ul {
      flex-direction: column;
  }
  li {
      margin-bottom: 10px;
  }
  li:last-child {
      margin-bottom: 0;
  }
}

/* footer styles */
footer {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: small;
    margin-top: 20px;
}

/* about page styles */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.about-content {
  background-color: #f8f8f8;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.about-title h2 {
  color: #333;
}

hr {
  margin: 20px 0;
  border: none;
  border-top: 1px solid #ccc;
}

.about-content p {
  color: #666;
}
h4 {
  color: #333;
  font-style: italic;
  margin-top: 20px;
}

/* blogs page */

.blog-container {
  background-color: #f8f8f8;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; /* Add margin between each blog */
}

a {
  text-decoration: none;
}

.title {
  color: #333;
}

.snippet {
  color: #666;
  padding-bottom: 20px;
}


/* details page  */

.details-container {
  background-color: #f8f8f8;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.details-content {
  margin-bottom: 20px;
}

.title {
  color: #333;
  margin-bottom: 10px;
}

.content p {
  color: #666;
  margin-bottom: 30px;
}

.delete {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.delete:hover {
  text-decoration: underline;
}

/* create blog */

.create-blog {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.content form {
  display: grid;
  gap: 10px;
}

label {
  font-weight: bold;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: none;
}

button {
  padding: 8px 16px;
  background-color: #00782c;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 50px;
}

button:hover {
  background-color: #00a43c;
}